<div class="question_manage_wrap">
  <div class="question_manage">
    <%= form_for(:question_update, url: question_update_path, html: {id: 'form_update_question'}) do |f| %>
    <div class="change_panel">
      <div class="question_part">
          <%= f.label "Choose a question:" %>
          <%= f.select :question, options_for_select(@questions.collect {|p| [ "#{p.id}- #{p.text}", p.id]}), include_blank: "~~~~ Choose one question ~~~~"  %>
      </div>
      <!-- Fill with Jquery, check .js -->
      <div class="question_detail_part">
        <div class="good_answer_part">
        </div>
        <div class="wrong_answer_part">
          
        </div>
        <div class="rank_part">
          
        </div>
        <div class="snippet_part">
          
        </div>
      </div>
      <div class="submit_panel">
        <%= submit_tag "Update Question", id: "btn_update"%>
      </div>
      <% end %>
    </div>
    <div class="delete_panel">
      <%= form_for(:delete, url: admin_question_url, html:{id: 'form_delete'})do |f| %>
      <div class="question_part">
        <%= f.label "Choose a question:" %>
        <%= f.select :question, options_for_select(@questions.collect {|p| [ "#{p.id}- #{p.text}", p.id]}), include_blank: "~~~~ Choose one question ~~~~"  %>
      </div>
      <div class="destroy_question">
        <%= button_to "Delete question", admin_question_url, method: :delete, data: { confirm: 'Are you sure?' }, class: "del_btn btn"%>
      </div>
      <% end %>
    </div>
    <div class="return">
      <%= button_to "Return", question_create_path, method: :get, class: "return_btn btn"%>
    </div>
  </div>
</div>
