<script type="text/javascript">
  $(document).ready(function() {
    $(".add_field").click(function(){
      addField(this);
    });
    $(".del_field").click(function(){
      delField(this);
    });
  });
  
  function addField(elem){
    var numberOfField = $(".good_field").length;
    if (numberOfField < 3) {
      $(elem).before('<input class="good_field" type="text" name="add_question[good_answer_'+ (numberOfField + 1) +']" id="add_question_good_answer_'+ (numberOfField + 1) +'">');
      $(".good_reason").last().after('<input class="good_reason" type="text" name="add_question[good_reason_'+ (numberOfField + 1) +']" id="add_question_good_reason_'+ (numberOfField + 1) +'">');
    }
    numberOfField = $(".good_field").length;
    if (numberOfField == 3){
      $(".add_field").addClass("hidden_field");
    }
    var numberOfDelBtn = $(".del_field").length;
    if (numberOfField > 1 && numberOfField <= 3 && numberOfDelBtn > 0) {
      $(".del_field").removeClass("hidden_field");
    }
  }
  
  function delField(elem){
    var numberOfField = $(".good_field").length;
    if (numberOfField > 1){
      $("#add_question_good_answer_"+numberOfField).remove();
      $("#add_question_good_reason_"+numberOfField).remove();
      numberOfField = $(".good_field").length;
    }
    if (numberOfField == 1){
      $(".del_field").addClass("hidden_field");
    }
    if (numberOfField < 3){
      $(".add_field").removeClass("hidden_field");
    }
  }
</script>
<div class="add_question_wrap">
  <% if @msg %>
    <div class="msg">
      <%= @msg %>    
    </div>
  <% end %>
  <%= form_for(:add_question, url: admin_result_path, html: {id: 'form_add_question'}) do |f| %>
    <div class="input_wrap">
      <div class="input_label">
        <%= f.label "Categorie:" %>
      </div>
      <div class="input_field">
        <%= f.select :categorie, options_for_select(@categories.collect {|p| [ p.label, p.id]}) %>
      </div>
    </div>
    <div class="input_wrap">
      <div class="input_label">
        <%= f.label "level:" %>
      </div>
      <div class="input_field">
        <%= f.select :level, options_for_select(["Silver","Gold"]) %>
      </div>
    </div>
    <div class="input_wrap">
      <div class="input_label">
        <%= f.label "Question:" %>
      </div>
      <div class="input_field">
        <%= f.text_area :text, class: "question_field" %>
      </div>
    </div>
    <div class="input_wrap">
      <div class="input_label">
        <%= f.label "Good answer:" %>
      </div>
      <div class="input_field">
        <%= f.text_field :good_answer_1, class: "good_field" %>
      </div>
      <span class="add_field">+</span>
      <span class="del_field hidden_field">-</span>
    </div>
    <div class="input_wrap">
      <div class="input_label">
        <%= f.label "Reason:" %>
      </div>
      <div class="input_field">
        <%= f.text_field :good_reason_1, class: "good_reason" %>
      </div>
    </div>
    <div class="input_wrap">
      <div class="input_label">
        <%= f.label "Wrong answer:" %>
      </div>
      <div class="input_field">
        <%= f.text_field :bad_answer_1, class: "bad_field" %>
        <%= f.text_field :bad_answer_2, class: "bad_field" %>
        <%= f.text_field :bad_answer_3, class: "bad_field" %>
        <%= f.text_field :bad_answer_4, class: "bad_field" %>
      </div>
    </div>
    <div class="input_wrap">
      <div class="input_label">
        <%= f.label "Reason:" %>
      </div>
      <div class="input_field">
        <%= f.text_field :bad_reason_1, class: "bad_reason" %>
        <%= f.text_field :bad_reason_2, class: "bad_reason" %>
        <%= f.text_field :bad_reason_3, class: "bad_reason" %>
        <%= f.text_field :bad_reason_4, class: "bad_reason" %>
      </div>
    </div>
    <div class="add_btn">
      <%= submit_tag "Add Question", id: "btn_submit_add", class: "btn"%>
    </div>
  <% end %>
  <div class="q_manage btn">
    <%= button_to "Manage question", admin_question_path, method: :get, class: "to_question_btn btn"%>
  </div>
</div>
