<div class="result_wrap">
 <div class="result">
      <%= image_tag  @is_good_answer ? "thumbs_up.png" : "thumbs_down.png" %>
      <%= @is_good_answer ? "GOOD answer" : "WRONG answer" %>
    </div>
    <div class="all_good">
      <% @question.good_answers.each_with_index do |a,i| %>
        <div class="good_detail">
          <%= i+1 %>- 
          <%= a.wording %>: 
          <%= a.reason %>
        </div>
      <% end %>
    </div>
    <div class="all_bad">
      <% @question.bad_answers.each_with_index do |a,i| %>
        <div class="bad_detail">
          <%= i+1 %>- 
          <%= a.wording %>: 
          <%= a.reason %>
        </div>
      <% end %>
    </div>
    <div class="next_question">
      <%= button_to "next question", question_show_path, method: :post, params: {continue: {level: @difficulty, unwanted: @question.id}}, class: "next_btn btn"%>
    </div>
</div>
