<div class="response_wrap">
  <div class="unique_response">
    <ul>
      <li><%= radio_button_tag "test", "0", false %> <%= "Possible answer" %></li>
      <li><%= radio_button_tag "test", "0", false %> <%= "Possible answer" %></li>
      <li><%= radio_button_tag "test", "0", false %> <%= "Possible answer" %></li>
      <li><%= radio_button_tag "test", "0", false %> <%= "Possible answer" %></li>
    </ul>
  </div>
  <div class="multiple_response">
    <ul>
      <li><%= check_box_tag "test", "0", false %> <%= "Possible answer" %></li>
      <li><%= check_box_tag "test", "0", false %> <%= "Possible answer" %></li>
      <li><%= check_box_tag "test", "0", false %> <%= "Possible answer" %></li>
      <li><%= check_box_tag "test", "0", false %> <%= "Possible answer" %></li>      
    </ul>
  </div>
</div>
