<div class="question_wrap">
  <div class="question_data">
    <div class="question_number">
      Question: #<%= question.id %>
    </div>
    <div class="question_cat">
      <%= question.cat %>
    </div>
    <div class="question_rank">
      <%= question.rank == 0 ? "Silver" : "Gold" %>
    </div>    
  </div>
  <div class="question_detail">
    <div class="question_txt">
      <div class="question_lib">
        <%= question.text %>
        (Choose <strong><%= response_num %></strong> )
      </div>
      <div class="question_snippet">
        <pre><%= question.text %></pre>
      </div>
    </div>
  </div>  
</div>
